<!doctype html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />

  <style>
    :root {
        --pico-font-size: 105%;
    }
    main {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    .navigation-links {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
  </style>

</head>

<body>
  {% include header.html %}

  <main class="container">
    <h1>{{ page.title }}</h1>
    
    <article>
        {{ content }}
    </article>

    <div class="navigation-links">
        {% if page.previous %}
          <a href="{{ page.previous | append: '.html' }}" role="button" class="secondary">‹ Previous</a>
        {% else %}
          <span></span>
        {% endif %}
        {% if page.next %}
          <a href="{{ page.next | append: '.html' }}" role="button">Next ›</a>
        {% endif %}
    </div>
  </main>

  {% include footer.html %}
</body>

</html>